body {
  background-image: linear-gradient(to top right, #ffcb05, red);
}

.container__pokeApp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poke";
  color: #ffcb05;
  padding: 0px 10px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.container__pokeApp-features {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 3px solid #000000;
  padding: 20px 0;
}

.pokeApp__FeatureTitle,
.buttonLabel {
  text-align: center;
}

.pokeApp__FeatureTitle {
  margin-bottom: 10px;
}

.buttonLabel {
  line-height: 1.5;
  margin-top: 10px;
}
