body {
  background-image: linear-gradient(to top right, #ffcb05, #ec4913);
}

.container__pokeApp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poke";
  color: #ffcb05;
  padding: 0px 10px;
  text-shadow: 3px 3px 0 #3b5ca8, -1px -1px 0 #3b5ca8, 1px -1px 0 #3b5ca8,
    -1px 1px 0 #3b5ca8, 1px 1px 0 #3b5ca8;
  text-align: center;
}

.container__pokeApp-features {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #000000;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 4px -4px 0.5em black;
  background-color: #ec4913;
}

.container__pokeApp-game {
  @extend .container__pokeApp-features;
  max-width: 400px;
  min-height: 500px;
  max-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__timesWithoutSkip {
  @extend .container__pokeApp-features;
  max-width: 400px;
  margin-bottom: 10px;
  font-size: 20px;
}

.pokeApp__FeatureTitle,
.buttonLabel {
  text-align: center;
}

.pokeApp__FeatureTitle,
.pokeApp__FeatureMainTitle {
  margin-bottom: 10px;
  letter-spacing: 2.5px;
}

.pokeApp__FeatureMainTitle {
  font-size: 20px;

  @media (min-width: 425px) {
    font-size: 28px;
  }
}

.buttonLabel {
  line-height: 1.5;
  margin-top: 10px;
}

.pokeApp__pokeImage {
  width: 70%;
  height: auto;
  align-self: center;
  transition: 1s;
  filter: brightness(1) drop-shadow(2px 4px 4px black);
}

.pokeApp__pokeImage.cover {
  filter: brightness(0) drop-shadow(2px 4px 4px black);
}

.pokeApp__loading--container {
  min-height: 278.59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokeApp__loading {
  min-height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    red 0%,
    red 50%,
    black 0%,
    black 55%,
    white 0%
  );
  animation: moving 1s ease infinite;
}

.pokeApp__loading::before {
  content: "";
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  top: 41%;
  left: 39%;
  background: radial-gradient(#fff 0%, #fff 45%, #333 0%, #333 54%, #ffffff 0%);
}

.pokeApp__loading:focus {
  outline: none;
}

@keyframes moving {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pokemon__container {
  width: 100%;
  height: 278.59px;
}

.pokeApp__input-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#pokemonName {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #ffcb05;
  background-color: #3b5ca8;
  color: #ffcb05;
  border-radius: 6px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
}
