#burst-12 {
  background: lightblue;
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;

  div {
    z-index: 1000000;
  }
}
#burst-12:before,
#burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background: lightblue;
  z-index: -1000000;
}
#burst-12:before {
  transform: rotate(30deg);
}
#burst-12:after {
  transform: rotate(60deg);
}
